/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Montserrat', sans-serif;
  }
}

.smooth-effect {
  @apply transition duration-200 ease-in-out;
}

.input-elem {
  @apply form-control block px-4 py-2 text-gray-700 bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded smooth-effect focus:text-gray-700 focus:bg-white focus:border-indigo-500 focus:outline-none;
}

.btn {
  @apply bg-indigo-500 rounded-md text-white hover:bg-indigo-600 px-4 py-2 smooth-effect;
}

.side-nav-link {
  @apply mx-2 mb-4 flex items-center px-5 text-lg font-medium py-4 h-12 overflow-hidden text-white text-ellipsis whitespace-nowrap rounded hover:text-white hover:bg-indigo-600 hover:shadow-xl transition duration-300 ease-in-out;
}

.overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
